# SKILLEZO Client Environment Variables

# Base URL for API requests to the backend server
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Client application origin
NEXT_PUBLIC_SITE_URL=http://localhost:3000
